* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 40px 0;
}

ul {
  margin: auto;
  margin-top: 2rem;
  width: 50%;
  list-style: none;
  text-align: center;
}

li {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}
a::before {
  content: "- ";
  font-weight: bold;
}
